*{
	padding: 0px;
	margin: 0px;

}

.btn
{
	margin-top:  20px;

}
#input
{
	margin-top: 20px;
}
#Textarea3
{
	margin-top: 20px;
}
.form-check
{
	margin-top: 20px;
}
.datepicker
{
	margin-top: 20px;
}

